<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>

  <link rel="stylesheet" href="/css/main.css">
</head>

<header>
  <nav class="navbar js-navbar">
    <ul class="menu">
      <li>
        <a class="hasDropdown" href="/">Inicio <i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <a class="hasDropdown" href="/map">Mapa<i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <a class="hasDropdown" href="/registros">Registros<i class="fa fa-angle-down"></i></a>
      </li>
    </ul>
  </nav>

  <!-- End Navigation Bar -->
</header>

<body>

</body>

</html>