<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

  <link rel="stylesheet" href="/css/registrovisita.css">
</head>
<header>
  <nav class="navbar js-navbar">
    <ul class="menu">
      <li>
        <a class="hasDropdown" href="/">Inicio <i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <a class="hasDropdown" href="/map">Mapas<i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <a class="hasDropdown" href="/users">Usuario<i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <div id="controlsesion">
          <a href="/login">Log in</a>
          <a href="/registro">Sign up</a>
        </div>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div class="login">

    <h1 class="login-header">Registro de una visita</h1>

    <form action="login" class="login-container" method="post">
      <p>Nombre área: "Nombre"</p>
      <p>Opinión:</p>
      <p><input placeholder="Opinión"></p>
      <p>Calificación:</p>
      <p><input type="number" min="1" max="5" placeholder="Calificación"></p>
      <p><input type="submit" value="Registrar visita"></p>
    </form>
    
  </div>
</body>

</html>