<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Usuarios</title>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

  <link rel="stylesheet" href="/css/registrovisita.css">
</head>
<header>
  <nav class="navbar js-navbar">
    <ul class="menu">
      <li>
        <a class="hasDropdown" href="/map">Mapa<i class="fa fa-angle-down"></i></a>
      </li>
      <li>
        <a class="hasDropdown" href="/registros">Registros<i class="fa fa-angle-down"></i></a>
      </li>
    </ul>
  </nav>
</header>

<body>
  <div class="login">

    <h1 id="nombre" class="login-header">Registro de una visita</h1>

    <form action="rvisita" class="login-container" method="POST">
      <p><input id="objectid" type= "hidden" name="objectid" placeholder=""  readonly></p>
      <p>Username:</p>
      <p><input name="usuario" placeholder="Username"></p>
      <p>Opinión:</p>
      <p><input name="opinion" placeholder="Dejanos tú opinión"></p>
      <p>Calificación:</p>
      <p><input name="calificacion" type="number" min="1" max="5" placeholder="Dejanos tú calificación"></p>
      <p><input type="submit" value="Registrar visita"></p>
    </form>

  </div>
  <script>
    var valores = window.location.search;
    const urlParams = new URLSearchParams(valores);
    document.getElementById('nombre').innerHTML = urlParams.get("nombre");
    document.getElementById('objectid').value = urlParams.get("objectid");

  </script>
</body>
</html>